


.footer{
position: fixed;
bottom: 0%;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
width: 100%;
background-color: black;
padding: 5px;
color: #FFFFFF;
font-style: italic;
text-indent: 10px;
font-size: 13px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.icon{

margin-right: 10px;
font-size: 30px;
color: #f5f5f5;
transition: color 0.3s;
}

.github:hover{

    color: #6e5494;

}

.linkedin:hover{

    color:#00a0dc;
}